*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
margin: 0 auto;
height: 100vh;
width: 50%;
background-color: rgba(0, 0, 0, 0.023);
}
.logo-sec {

margin-bottom: 0em;
}
.login-sec{
    width: 70%;
    padding: 1.5em;
    

}
.login-sec input{
    border: none;
    padding-left: 1em;
    font-size: 1em;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.273);
    background-color: rgba(252, 250, 250, 0.667);
    

}
.login-sec input[type="placeholder"]{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-heading-text{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    flex-direction: column;

}

.login-input{
    display: flex;
    width: 100%;
    flex-direction: column;

}
label{
    font-size: .9em;
    margin-bottom: .5em;
}
select{
    width: 4rem;
    height: 2rem;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.276);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.667);
}
.input-1-sec{
    display: flex;
    flex-direction: column;
}
.input-1 input{
    height: 2rem;
    width: 79%;
    border-radius: 5px;
}
.input-2{
    margin-block: 1.5em;

}
.login-heading-text p{
    color: gray;
    font-size: .9rem;
}
.input-2 input{
    width: 95%;
    height: 2rem;
    border-radius: 5px;
}
.input-2-pin{
    display: flex;
    width: 95%;
    justify-content: space-between;

}
.input-2-pin span{
    font-size:small;
}
.button{
    margin-bottom: 1.5em;
}
.button input[type="submit"]{
width: 95%;

color: whitesmoke;
background-color: black;
border: none;
border-radius: 5px;
padding-block: .7em;
}


.new-user p{
    text-align: center;
    color: rgb(90, 88, 88);
}
.new-user span{
    color: black;
}

.footer-sec{
    text-align: center;
    font-size: small;
    color: gray;
    
}
.logo-sec h1{
    color: rgb(54, 56, 66);
    text-align: center;
}
.logo-sec span{
    color: forestgreen;
}

.logo-sec P{
    text-align: center;
    font-size: small;
    
}