*{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family:sans-serif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
        }
        .con{ 
            display: flex;
            width: 100%;
        
            height: 100vh;
        }
        .sec1{
            background-color: white; 
            width: 20%;  
            height: 100%;     
        
        }
        
        .sec2{
            width: 80%;
            display: flex;
            padding-inline: 1.5em;
            flex-direction: column;
flex-direction: column;

        }
.logo,.logout{
    width: 100%;
    height: 15%;
    
}
.logo{
    width: 80%;
    height: 10%;
    display: flex;
    align-items: center;
    border-bottom: .5px solid rgba(128, 128, 128, 0.537);
    
}
.logo h4{
    margin-left: .5em;
}
.logo span{
    color: forestgreen;
}
.side-contents{
    width: 100%;
    padding-top: 3em;
    height: 75%;
    text-transform: capitalize;
    
}
.side-contents ul,.logout ul{
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-left: 1em;
    text-transform: capitalize;
    
}
ul li{
    font-size: .9rem;
}
.payment-top{
    display: flex;
    margin-block:1em ;
    justify-content: space-between;
    margin-bottom: 3em;
    
}
ul li a{
    text-decoration: none;
}
.payment-top h3{
    text-transform: capitalize;
}
.payment-middle{
    display: flex;
    margin-left: 1em;
    margin-top: 1.5em;
    margin-bottom: 3em;
    gap: 3em;
    
    
}
.payment-bank{
display: flex;
flex-direction: column;
}
.payment-send,.payment-bill{
    display: flex;
    gap: .5em;
    flex-direction: column;
    

}
.payment-send p,.payment-bill p{
    font-size: small;
    color: rgba(128, 128, 128, 0.532);
}

.payment-last{
    margin-block:1.5em;
    display: flex;
    margin-left: 1em;
    flex-wrap: wrap;
    gap: 3em;
    width: 100%;


}
.pay{
    color: rgb(76, 21, 147);
    font-weight: 900;
}
.mode-profile ul{
    display: flex;
    list-style: none;
    gap: 1em;
}
.card-con{
    display: flex;
    flex-direction: column;
    gap: 1em;
    
}
.card{

    display: flex;
    flex-direction: column;

}
.card .card-num{
    padding-top: 5em;
    padding-bottom: 1em;
    border-top-left-radius:.5em;
    border-top-right-radius: .5em;
    width: 18rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;

    background-image:linear-gradient(to right, steelblue, forestgreen);

}
.visa-logo{
    width: 18rem;
    height: 2.5em;
    color: white;
    display: flex;
    padding-block: 2em;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    color: white;
    border-bottom-left-radius: .5em;
    border-bottom-right-radius: .5em;
}
.visa-text{
    text-align: right;
    font-size: .7rem;
    display: flex;
    flex-direction: column;
    gap: .5em;
    justify-content: center;
    
}
